/* h1{
    color: rgb(60, 231, 8);
    text-align: center;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-style: italic;
    font-weight: 100;
    font-display: block;
    text-decoration: line-through;
    text-transform: capitalize;
    text-indent: 80px;
    text-shadow: 2px 2px 2px rgb(156, 29, 29);
    
} */
*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    width: 100vw;

}


div{
   height: 50%;
   width: 50%;
   background-color: rgb(205, 165, 165);
   border-width: 2px 8px;
   border-color: green;
   border-style: inset;
   /* border-radius: 80px; */
   /* border: 5px green solid; */
}
h1{
    /* color: rgb(60,150,240); */
    /* color: rgba(230,10,100,0.9); */
    color: hsl(120,50%,50%);
}